<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin/Signup Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/SignInstyles.css">
    <link rel="stylesheet" href="css/email_verifications.css">

</head>

<body>

    <div class="container" id="container">

        <div class="form-container sign-up-container">
            <h1>Create Account</h1>
            <form id="signupForm" method="POST" action="/send-otp">
                <input type="text" id="signupName" name="name" placeholder="Name" required>
                <input type="email" id="signupEmail" name="email" placeholder="Email">
                <input type="password" id="signupPassword" name="password" placeholder="Password" required>
                <input type="text" id="signupMobile" name="mobile" placeholder="Mobile Number" required>
                <input type="text" id="signupCNIC" name="cnic" placeholder="CNIC" required>
                <select id="signupNearestStation" name="nearestStation" required>
                    <option value="" disabled selected>Select Nearest Station</option>
                    <option value="Faisalabad">Faisalabad</option>
                    <option value="Chiniot">Chiniot</option>
                    <option value="Lahore">Lahore</option>
                </select>
                <button id="signupButton" type="submit">Sign Up</button>

            </form>
            <div class="mail-verification-form" id="mailVerificationForm">
                <div id="response"></div>
                <div class="heading">
                    <h6>
                        <b>Email Verification</b>
                    </h6>
                    <p style="color: black; text-align:left;">Enter the verification code sent to your email.</p>
                </div>
                <div class="input-containe">
                    <input type="number" id="verificationInput" placeholder="000000" maxlength="6">
                    <button id="resendButton">Resend</button>
                </div>
                <div class="input-containerr">
                    <button id="emailVerificationButton" type="button">Email Verification</button>
                </div>
            </div>
        </div>


        <div class="form-container sign-in-container">

            <form action="/Check" method="POST" id="signin-form">
                <h1>Sign in</h1>
                <div class="input-container">
                    <input type="text" name="cnic" placeholder="CNIC E.g 33021-3333265-8" required />
                </div>
                <div class="input-container">
                    <input type="password" name="password" placeholder="Password" required />
                </div>
                <a href="/forgetpassword">Forgot your password?</a>

                <button type="submit" id="signup" >Sign In</button>
            </form>

        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/SignIn.js"></script>
    <script src="/js/email_verifications.js"></script>
    
</body>

</html>