@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
   background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
	margin-top: 20px;
    overflow-x:hidden;
      
    
}
.container.blur {
    filter: blur(5px); /* Adjust the blur strength as needed */
    pointer-events: none; /* Disable pointer events to prevent interaction with blurred elements */
}

h1 {
    font-weight: bold;
    margin: 0;
    margin-bottom: 50px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
}

a {
    color: #0e263d;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 10px;
    
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
    min-height: 480px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 0px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}
.form-container form
{
    width: 100%;
    text-align: center;
}

.social-container {
    margin: 10px 0;
}

.social-container a {
    border: 1px solid #313232;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}


.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    width: 85%;
}
input, select, button {
     /* Make them block elements to stack vertically */
    margin-bottom: 15px; /* Adjust the vertical space between elements */
}
button {
    border-radius: 30px;
    border: 1px solid #5d5c5c;
    background:  #1e5e42;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor:pointer;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
    
}

button:hover
{
    background-color: #1e5e42;
}
#signupButton,#signupNearestStation
{
    margin-top: 20px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #1e5e42,  #1e5e42
    ) no-repeat 0 0 / cover;

    background: linear-gradient(to le, #1e5e42,  #1e5e42
    ) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}
